.gameScore {
    text-align: center;
    height: 70px;
    position: relative;
    
    
  }
 
  
  .playerScore {
    margin-top: 5px;
    padding: 0;
    font-weight: 600;
    color:white;
    font-size: 75px;
    
  }
  